@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.homeLayout{
    width: 100%;
    min-height: 100dvh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 500px;
    

    .appear{
        animation: appear 0.3s linear 0.0s 1 normal forwards;
        opacity: 0;
    
    }
    .scale{
        animation: scale 0.3s linear 0.0s 1 normal forwards;
        scale: 0.5;
    }
    .appear.scale{
        animation: scale 0.3s linear 0.0s 1 normal forwards, appear 0.3s linear 0.0s 1 normal forwards ;
    }
    
    .slideL{
        animation: slideL 0.9s ease 0s 1 normal forwards;
    }
    
    .slideR{
        animation: slideR 0.9s ease 0s 1 normal forwards;
    }
    .slideUp{
        animation: slideUp 0.9s ease 0s 1 normal forwards;
    }

    .sliderContainer{
        justify-self: end;
        width: 90%;
        max-width: 1700px;
        margin: auto;
        height: 300px;
    }
    .aboutContainer{
        display: flex;
        justify-content: center;
        background-image: url('../../assets/abtus1.jpg');
        background-attachment: fixed;
        background-size: cover;
        position: relative;
        visibility: hidden;
    }

    .aboutTitle{
        margin: auto;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 44px;
        color: #ffbd30;
        line-height: 2;
    }

    .aboutText{
        margin: auto;
        max-width: 700px;
        font-size: 22px;
        padding: 0px 20px 20px 30px;
        margin: 20px;
        background-color: #f8f8f8e5;
        border-radius: 30px;
    }
    .offerCard{
        display: block;
        text-align: center;
    }
    .offerBox{
        display: flex;
        max-width: 1200px;
        margin: auto;
        .icon{
            font-size: 60px;
        }
    }
}


@keyframes appear {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

@keyframes scale {
    from{
        scale: 0.5;
    }
    to {
        scale: 1;
    }
    
    
}

@keyframes slideL {
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
    
}

@keyframes slideR {
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0px);
    }
    
}

@keyframes slideUp {
    0%{
        visibility: visible;
        bottom: -1500px;
    }
    100%{
        visibility: visible;
        bottom: 0px;
    }
}