.homeLayout{
    width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 500px;
    

    .appear{
        animation: appear 0.3s linear 0.0s 1 normal forwards;
        opacity: 0;
    
    }
    .scale{
        animation: scale 0.3s linear 0.0s 1 normal forwards;
        scale: 0.5;
    }
    .appear.scale{
        animation: scale 0.3s linear 0.0s 1 normal forwards, appear 0.3s linear 0.0s 1 normal forwards ;
    }
    
    .slideL{
        animation: slideL 0.9s ease 0s 1 normal forwards;
    }
    
    .slideR{
        animation: slideR 0.9s ease 0s 1 normal forwards;
    }

    .sliderContainer{
        justify-self: end;
        width: 90%;
        max-width: 1700px;
        margin: auto;
        height: 300px;
    }
    
    .aboutText{
        margin: auto;
        max-width: 700px;
        font-size: 22px;
    }
}


@keyframes appear {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

@keyframes scale {
    from{
        scale: 0.5;
    }
    to {
        scale: 1;
    }
    
    
}

@keyframes slideL {
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
    
}

@keyframes slideR {
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0px);
    }
    
}